RewriteEngine On
RewriteBase /Gebeta/

# If the requested filename is not a directory or a file, try appending .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]